# Dapp
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_HORIZON_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
VITE_STELLAR_NETWORK=testnet

# Wallet Connect
VITE_PROJECT_ID_FOR_WALLET_CONNECT=
VITE_PROJECT_NAME_FOR_WALLET_CONNECT=
VITE_PROJECT_DESCRIPTION_FOR_WALLET_CONNECT=
VITE_PROJECT_URL_FOR_WALLET_CONNECT=